@import 'foundation_and_overrides';
@import 'royalslider';
@import 'rs-default';

$header_height: 243px;
$header_height_small: 70px;
header {
	background-color: #F5F5F5;
	&.show-for-small {
		background-color: #0051A6;
		height: 50px;
	}
	height: header_height;
	@media only screen and (max-width: 40em) {
		height: $header_height_small;
	}
	#sticker {
		width: 100%;
		height: 100px;
		background-color: #0051A6;
		z-index: 99;
		.row {
			.tp {
				padding-top: 20px;
			}
			margin: auto;
		}
	}
	.row {
		$header_padding: 20px;
		padding-top: $header_padding;
		padding-bottom: $header_padding;
		.logo {
			text-align: center;
			img {
				@media only screen and (max-width: 40em) {
					height: 90px;
				}
			}
		}
	}
	.row.hide-for-small {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	button {
		$verticle-padding: 5px;
		$horizontal-padding: 15px;
		padding-top: $verticle-padding;
		padding-bottom: $verticle-padding;
		padding-left: $horizontal-padding;
		padding-right: $horizontal-padding;
		font-size: 17px;
		&.full {
			width: 100%;
		}
	}
}

main {
	padding-top: 20px;
	@media only screen and (max-width: 40em) {
		padding-top: 77px;
	}
}
a {
	color: black;
	&:hover {
		color: black;
	}
}
.vehicle_index_instance {
	border: 2px solid #CFCFCF;
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	.make_model {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 22px;
	}
	.new_used {
		font-size: 22px;
		font-weight: bold;
		.new {
			color: #0051A6;
		}
		.used {
			color: #50a600;
		}
	}
	.photo {
		text-align: center;
		img {
			border: 1px solid #CFCFCF;
		}
		margin-bottom: 10px;
	}
	.text {
		margin-bottom: 5px;
		font-size: 16px;
	}
	.msrp {
		text-decoration: line-through;
	}
	.price {
		font-weight: bold;
	}
	&:hover {
		border: 2px solid #0051A6;
		cursor: pointer;
	}
}

button.filter {
	border: 3px solid white;
	&.active {
		border: 3px solid black;
	}
}

.filters {
	.row {
		padding: 0px;
	}
	.heading {
		margin-bottom: 30px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}
	&.actions {
		.heading {
			margin-bottom: 10px;
		}
	}
	#current_budget {
		font-weight: bold;
		text-align: center;
	}
	.budget_filter {
		text-align: center;
		span {
			position: absolute;
			top: 42px;
			font-size: 20px;
			font-weight: bold;
			&.low {
				float: left;
			}
			&.high {
				float: right;
			}
		}
		input {
			width: 80%;
			position: relative;
			left: 8%;
			top: 15px;
			@media only screen and (max-width: 40em) { 
				left: 2%;
			}
		}
	}
	.passengers {
		text-align: center;
	}
	color: white;
}

.vehicle_show {
	.main_image {
		padding: 3px;
		border: 3px solid black;
	}
	.title {
		text-decoration: underline;
	}
}

.vehicle_show_actions {
	padding-top: 20px;
	text-align: center;
	button {
		margin-bottom: 10px;
	}
}

.royalSlider {
  width: 100%;
}

.back_link {
	font-size: 20px;
	font-weight: bold;
	padding-left: 30px;
	margin-bottom: 30px;
}

.vehicle_show_details {
	.title {
		font-size: 22px;
		text-decoration: underline;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.text {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.price {
		margin-top: 20px;
		font-size: 42px;
		color: #0051A6;
	}
}

$footer_height: 50px;
footer {
	border-top: 3px solid black;
	&.custom_fixed {
		bottom: 0 !important;
		width: 100%;
		left: 0;
		position: fixed;
		z-index: 99;
	}
	background-color: #0051A6;
	border-bottom: 3px solid black;
	height: $footer_height;
	.row {
		$footer_padding: 7px;
		padding-top: $footer_padding;
		padding-bottom: $footer_padding;
		.logo {
			text-align: center;
			img {
				@media only screen and (max-width: 40em) {
					height: 90px;
				}
			}
		}
	}
	.small-12.columns {
		text-align: center;
		.link {
			display: inline-block;
			margin-right: 15px;
			img {
				width: 30px;
			}
		}
	}
}

.mobile_header_container {
	padding: 0px !important;
}

.mobile_header {
	padding: 0px !important;
	.menu_link {
		position: relative;
		top: 10px;
		right: -15px;
		img {
			width: 32px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	h1 {
		color: white;
		font-weight: bold;
		position: relative;
		font-size: 20px;
		top: 10px;
		left: 25px
	}
}

.mobile_nav {
	position: relative;
	top: 10px;
	background-color: #0051A6;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding-top: 10px;
	padding-bottom: 20px;
	.heading {
		padding-top: 5px;
		padding-bottom: 5px;
		text-align: center;
		font-size: 18px;
		@media only screen and (max-width: 40em) {
			font-size: 12px;
		}
	}
}

#small_header {
	padding: 0px;
	.heading {
		margin-bottom: 5px;
	}
}

.main_content_container {
	padding-bottom: 100px;
}

.instance_actions {
	button {
		margin-right: 10px;
	}
}

.photo_gallery {
	margin-bottom: 10px;
}

div#header_head {
	border-bottom: 3px solid black;
}

#links {
	padding-left: 10px;
	.link {
		display: inline-block;
		margin-right: 10px;
		padding: 10px;
		&.active {
			color: white;
			background-color: #0051A6;
		}
	}
}
